.grid-wrapper {
  background-color: green;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto, 400px);
  grid-template-rows: repeat(auto, 400px);
}

.grid-container {
  background: red;
}

.c1 {
  grid-column: 1 / 3;
  grid-row: 1;
}
